includes:
    - phpstan-baseline.neon
parameters:
    checkMissingIterableValueType: false
    excludePaths:
        - src/run.php
    ignoreErrors:
        - '#Cannot call method .* on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
